/* basic page styling */
body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f2ea; /* changed background to be slightly off white */
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* welcome message formatting */
h1 {
    background-color: #b22222;
    color: #fff;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
}
