/* basic page styling */
body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f2ea; /* changed background to be slightly off white */
    margin: 0;
    padding: 0;
    line-height: 1.5;
}