body 
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 86, 99);
}

body 
{
    background-image: url("images/poster_notext.png");
    background-size: 700px auto;  /* adjust this number */
    background-position: top center;  /* center the image */
    background-repeat: no-repeat; /* stop repeating */
    
}

.top-credits h3 
{
    display: inline-block;
    margin: 10 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 100px; /* move text right */
    font-family: sans-serif;
    color: white;
    font-size: 35px;
}

.quote blockquote 
{
    font-style: italic;
    font-size: 1rem;
    
}

.quote cite 
{
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    opacity: 0.8;
}