body 
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 86, 99);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.poster 
{
    position: relative;              
    width: 700px;                    
    height: 1100px;                  
    background-image: url("images/poster_notext.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
}

.top-credits 
{
    position: absolute;
    top: 30px;                
    left: 50%;
    transform: translateX(-50%);
    width: 80%;               
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.top-credits h3 
{
    margin: 0;
    color: white;
    font-family: "Times New Roman", Georgia, serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.35em;    
    white-space: nowrap;       
}

.quote 
{
    position: absolute;
    top: 65px;                     
    left: 50%;
    transform: translateX(-50%);
    width: 54%;
    text-align: center;
    color: rgb(255, 255, 255, 0.8);

}

.quote blockquote 
{
    margin: 0;
    font-style: italic;
    font-size: 0.95rem;
}

.quote cite 
{
    display: block;
    margin-top: 5px;
    font-size: 0.85rem;
    opacity: 0.8;
}

.title 
{
    position: absolute;
    top: 210px;                    
    left: 4%;
    text-align: center;
    white-space: nowrap;  
}

.title h1 
{
    font-size: 120px;
    margin: 0 0 10px;
    font-family: "Mistral", "Brush Script MT", cursive;
    color: white;
}

.byline 
{
    margin: 0;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.byline span 
{
    font-weight: bold;
}

.sundance-logo 
{
    position: absolute;
    bottom: 155px;              
    right: 35px;               
    width: 120px;              
    opacity: 0.8;              
}

.tagline 
{
    position: absolute;
    bottom: 115px; 
    width: 100%;
    text-align: center;
    font-family: "Georgia",Georgia, 'Times New Roman', Times, serif;

}

.tagline p 
{
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: .55px;
    color: white;
}

.credits 
{
    position: absolute;
    bottom: 55px;              
    left: 50%;                   
    transform: translateX(-50%); 
    width: 90%;                
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    letter-spacing: 0.10em;  
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.4);
    padding: 0;                 
    text-transform: uppercase;
}